<launch>
    <node pkg="comp3431_ass2" type="newLineFollower.py" name="lineFollower" output="screen"/>
    <node pkg="comp3431_ass2" type="intersection.py" name="intersection" output="screen"/>
    <node pkg="comp3431_ass2" type="stopSign.py" name="stopSign" output="screen"/>
    <node pkg="comp3431_ass2" type="color.py" name="color" output="screen"/>
    <node pkg="comp3431_ass2" type="timeControl.py" name="timeControl" output="screen"/>
</launch>
