<!--This file is for gazebo-->
<launch>
    <!--Connect to robot-->>
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>
    <!--Connect to autorace intrinsic camera-->
    <include file="$(find turtlebot3_autorace_camera)/launch/turtlebot3_autorace_intrinsic_camera_calibration.launch"/>
    <node pkg="comp3431_ass2" type="lineFollower.py" name="lineFollower" output="screen"/>

    <!--node pkg="comp3431_ass2" type="intersection.py" name="intersection" output="screen"/-->
    <!--node pkg="comp3431_ass2" type="stopSign.py" name="stopSign" output="screen"/-->
    <!--node pkg="comp3431_ass2" type="color.py" name="color" output="screen"/-->
    <!--node pkg="comp3431_ass2" type="timeControl.py" name="timeControl" output="screen"/-->
</launch>
